<PackageConfiguration xmlns="http://www.siemens.com/automation/Openness/AddIn/Publisher/V16">
  <Author>I. Tempfli</Author>
  <AddInVersion>V16</AddInVersion>
  <Description>This addin makes archives of the current project in multiple folders</Description>

  <Product>
    <Name>MultiArchiver</Name>
    <Id>tia_add_in_multiarchiver</Id>
    <Version>1.1</Version>
  </Product>

  <FeatureAssembly>
    <AssemblyInfo>
      <Assembly>bin\Debug\MultiArchiver.dll</Assembly>
    </AssemblyInfo>
  </FeatureAssembly>

  <AdditionalAssemblies>
    <AssemblyInfo>
      <Assembly>bin\Debug\MultiArchiver.XmlSerializers.dll</Assembly>
    </AssemblyInfo>
  </AdditionalAssemblies>

  <!--<Certificates>
    <SigningCertificate>...</SigningCertificate>
    <AdditionalCertificates>
      <Certificate>...</Certificate>
    </AdditionalCertificates>
  </Certificates>-->

  <!--Please remove unused permissions-->
  <RequiredPermissions>
    <TIAPermissions>
      <TIA.ReadWrite/>
    </TIAPermissions>
    <SecurityPermissions>
      <!--
      <System.Net.WebPermission/>
      <System.Security.Permissions.MediaPermission/>
      <System.Security.Permissions.KeyContainerPermission/>
      <System.Security.Permissions.WebBrowserPermission/>
      <System.Net.SocketPermission/>
      <System.Data.Odbc.OdbcPermission/>
      <System.Net.NetworkInformation.NetworkInformationPermission/>
      <System.Security.Permissions.StorePermission/>
      <System.Configuration.ConfigurationPermission/>
      <System.Diagnostics.EventLogPermission/>
      <System.Drawing.Printing.PrintingPermission/>
      <System.Security.Permissions.IsolatedStorageFilePermission/>
      <System.Data.OleDb.OleDbPermission/>
      <System.Security.Permissions.RegistryPermission/>
      <System.Data.SqlClient.SqlClientPermission/>
      <System.Security.Permissions.EnvironmentPermission/>
      <System.Net.Mail.SmtpPermission/>
      <System.Security.Permissions.FileDialogPermission/>
      -->

      <System.Security.Permissions.FileIOPermission />
      <System.Security.Permissions.EnvironmentPermission />
      <System.Security.Permissions.UIPermission />
      <System.Security.Permissions.SecurityPermission.UnmanagedCode />
      <Siemens.Engineering.AddIn.Permissions.ProcessStartPermission/>

    </SecurityPermissions>
  </RequiredPermissions>
</PackageConfiguration>